
@{
    ViewData["Title"] = "Task Manager System";
}

<h1>Task Manager System</h1>
<ul>
    <li>
        <a href="@ViewBag.Scheme://@ViewBag.Host/api/auth/migrate">Migrate Auth Data Base</a>
    </li>
    <li>
        <a href="@ViewBag.Scheme://@ViewBag.Host/api/notify/migrate">Migrate Notification Data Base</a>
    </li>
    <li>
        <a href="@ViewBag.Scheme://@ViewBag.Host/api/tasks/migrate">Migrate Task Data Base</a>
    </li>
</ul>
<hr/>
<h1>Task Manager System</h1>
<ul>
    <li>
        <a href="@ViewBag.Scheme://@ViewBag.Host/api/auth">API Auth Service</a>
    </li>
    <li>
        <a href="@ViewBag.Scheme://@ViewBag.Host/api/tasks/greeting">API Task Service</a>
    </li>
    <li>
        <a href="@ViewBag.Scheme://@ViewBag.Host/api/notify/greeting">API Notification Service</a>
    </li>
    <li>
        <a href="@ViewBag.Scheme://@ViewBag.Host/api/files/greeting">API File Storage Service</a>
    </li>
    <li>
        <a href="@ViewBag.Scheme://@ViewBag.Host/api/tasks">GET Tasks</a>
    </li>
</ul>